<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emgu.CV" version="4.3.0.3890" targetFramework="net472" />
  <package id="Emgu.CV.runtime.windows" version="4.3.0.3890" targetFramework="net472" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net472" />
  <package id="Microsoft.ReportViewer" version="11.0.3366.16" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="11.0.1" targetFramework="net472" />
</packages>